<div class="card">
    <div class="card-header">
        <h2>Sign Up</h2>
    </div>

    <form id="signup-form" class="card-body">
        <div class="form-group">
            <label for="firstname-signup">Firstname:</label>
            <input class="form-input" type="text" id="firstname-signup" />
        </div>
        <div class="form-group">
            <label for="lastname-signup">Lastname:</label>
            <input class="form-input" type="text" id="lastname-signup" />
        </div>
        <div class="form-group">
            <label for="email-signup">Email:</label>
            <input class="form-input" type="email" id="email-signup" />
        </div>
        <div class="form-group">
            <label for="weight-signup">Weight(lbs):</label>
            <input class="form-input" type="number" id="weight-signup" />
        </div>
        <div class="form-group">
            <label for="password-signup">password:</label>
            <input class="form-input" type="password" id="password-signup" />
        </div>
        <div class="form-group">
            <button class="btn btn-primary" id="signup-btn" type="submit">Sign up</button>
            <a type="button" href="/login">Login</a>
        </div>
    </form>
</div>

<script src="/javascript/signup.js"></script>