<!--Section form for search parameters-->
{{#if loggedIn}}
<section id="loc-search">
  <form>
    <div class="form-group">
      <label for="field1">Search by City</label>
      <input
        type="text"
        class="form-control"
        id="field1"
        aria-describedby="fieldHelp"
        placeholder="Search"
      />
      <small id="fieldHelp" class="form-text text-muted">Please enter a city name</small>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</section>

<!--Container for Location Cards-->
<section id="locContainer">
    {{#each locations as |location|}}
        <div class="location col-md-4">
            <h3>{{location.name}}</h3>
            <p>located in: {{location.city}} at: {{location.address}}</p>
        </div>
    {{/each}}
</section>
{{else}}
    <h2>Please Login to the website to view locations!</h2>
{{/if}}
<script src="/javascript/locations.js"></script>