<!--Section form for search parameters-->
{{#if loggedIn}}
    <form id="addForm">
        <h3>Add Workout</h3>
        <div class="form-group">
            <label for="workName">Workout Name</label>
            <input type="text" class="form-control" id="workName" placeholder="Workout Name">
        </div>
        <div class="form-group">
            <label for="workType">Workout Type</label>
            <input type="text" class="form-control" id="workType" placeholder="Workout Type">
        </div>
        <div class="form-group">
            <label for="workDay">Weekday</label>
            <input type="text" class="form-control" id="workDay" placeholder="Weekday">
        </div>
        <div class="form-group">
            <label for="workWeight">Workout Weight</label>
            <input type="number" class="form-control" id="workWeight" placeholder="Workout Weight">
        </div>
        <div class="form-group">
            <label for="workSets">Sets</label>
            <input type="number" class="form-control" id="workSets" placeholder="Sets">
        </div>
        <div class="form-group">
            <label for="workReps">Reps</label>
            <input type="number" class="form-control" id="workReps" placeholder="Reps">
        </div>
        <button type="submit" class="btn btn-primary addWorkout">Submit</button>
        </form>
    <!--Container for Location Cards-->
        {{else}}
            <h2>Please Login to the website add your workouts!</h2>
        {{/if}}
<script src="/javascript/workForm.js"></script>