:root {
    --primary: #F9ED69;
    --secondary: #F08A5D;
    --tertiary: #B83B5E;
    --dark: #6A2C70;
    --border-radius: 0.5rem;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--primary);
    margin: 0;
    padding: 0;
    color: var(--secondary);
    line-height: 1.5;
    font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    margin: 0;
    color: var(--tertiary);
    line-height: 1.25;
    letter-spacing: 1px;

}



h2 a:visited {
    color: var(--tertiary);
}

h2 a {
    color: var(--primary);
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

main {
    margin: 20px auto;
    width: 94%;
}

a {
    text-decoration: none;
}

p {
    font-size: 1rem;
    color: var(--dark);
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

main {
    margin: 20px auto;
    width: 94%;
}

.btn {
    font-size: 1.3rem;
    text-decoration: none;
    padding: 6px auto;
    width: 30%;
    display: block;
    margin: 5px auto;
    border-radius: var(--border-radius);
    color: var(--primary);
    border: none;
    outline: none;
    background-color: var(--secondary);
}

.btn:hover {
    background-color: var(--dark);
}

.nav-item:hover {
    color: var(--dark);

}

.nav-item {
    margin-right: 30px;

}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.workout {
    text-align: center;
}

footer {
    text-align: center;
    color: var(--secondary);
    height: 50px;
    position: fixed;
    bottom: 0;
}

/* CARDS */
.card {
    margin: 0 0 25px 0;
    border-radius: var(--border-radius);
}

.card-header {
    color: var(--secondary);
    background-color: var(--dark);
    padding: 1%;
}

.card-body {
    padding: 1%;
    color: var(--dark);
}

@media screen and (max-width: 768px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    .nav-item {
        margin: 0 25px;
    }
}