:root {
    --primary: #F9ED69;
    --secondary: #F08A5D;
    --tertiary: #B83B5E;
    --dark: #6A2C70;
    --border-radius: 0.5rem;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--primary);
    margin: 0;
    padding: 0;
    color: var(--secondary);
    line-height: 1.5;
    font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    margin: 0;
    color: var(--tertiary);
    line-height: 1.25;
    letter-spacing: 1px;
}

h2 a:visited {
    color: var(--tertiary);
}

h2 a {
    color: var(--primary);
}

.btn {
    font-size: 1.3rem;
    text-decoration: none;
    padding: 6px auto;
    width: 30%;
    display: block;
    margin: 5px auto;
    border-radius: var(--border-radius);
    color: var(--primary);
    border: none;
    outline: none;
    background-color: var(--secondary);
}

.btn:hover {
    color: var(--primary);
    background-color: var(--dark);
}

a {
    text-decoration: none;
}

p {
    font-size: 1rem;
    color: var(--dark);
}

.nav-item {
    float: right;
    margin-right: 10%;
}




.nav-item:hover {
    color: var(--dark);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


footer {

    text-align: center;
    color: var(--secondary);
    height: 50px;
    position: fixed;
    bottom: 0;

}